In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [3]:
df.size

4122

In [4]:
df.shape # 458 rows, 9 columns

(458, 9)

In [5]:
df.ndim # one-dimensional series, two-dimensional dataframe

2

In [6]:
df.shape[1]

9

In [8]:
dim = df.shape[1]
indices = tuple(range(dim))
indices

(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [15]:
subset = [indices]
print(subset)
print(len(subset))

[(0, 1, 2, 3, 4, 5, 6, 7, 8)]
1

In [16]:
from itertools import combinations
combinations(indices, r=dim-1)

In [19]:
for i in combinations(indices, r=dim-1):
    print (i)

(0, 1, 2, 3, 4, 5, 6, 7)
(0, 1, 2, 3, 4, 5, 6, 8)
(0, 1, 2, 3, 4, 5, 7, 8)
(0, 1, 2, 3, 4, 6, 7, 8)
(0, 1, 2, 3, 5, 6, 7, 8)
(0, 1, 2, 4, 5, 6, 7, 8)
(0, 1, 3, 4, 5, 6, 7, 8)
(0, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
dim

9